<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
  </head>
  <body>
    <header class="site-header sticky-top" style="background-color: #1e1e1e">
      <nav class="navbar navbar-expand-lg sticky-top p-1">
        <a class="navbar-brand mx-2 text-primary" href="{{ site.url }}">
          <div class="crop-container">
            <img class="enlarge" src="/images/logo indy.png" alt="IK Logo" height="60px">
          </div>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto my-1">
              <li class="nav-item">
                <a class="nav-link text-white" href="{{ site.url }}" >⌂ 홈</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="/about">인디코리아</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="/magazines">매거진</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>


    <main class="page-wrapper" style="margin: 25px;">
      {{ content }}
    </main>

    <footer class="footer-format" style="background-color: #1e1e1e">
      <div class="container py-5 col-12 col-md">
        <h5 class="fw-bold text-center text-white">PROUDLY SPONSORED BY</h5>
        <div class="row row-cols-2 row-cols-md-4 g-0 justify-content-center row-gap-3 mt-2">
          <div class="col my-auto text-center">
            <a href="https://johnnyauto.com/" target="_blank"><img src="https://cdn07.carsforsale.com/dealerlogos/1005506/johnnys.d8ab9ab7.png" alt="Johnny's Auto" style="width: 100%;" /></a>
          </div>
        </div>
      </footer>
    </body>  
  </div>
        